@import url("/vertical-font.css");

html {
  height: 100%;
}

body {
  writing-mode: vertical-rl;
  font-family: "LXGW WenKai TC", cursive;
  margin-block-end: 0;
  margin-block-start: 0;
  font-variant-numeric: tabular-nums;
  font-size: 1.73vh;
  height: 100%;
}

div {
  margin: auto 0;
  height: 55%;
  position: relative;
}

h1 {
  margin: 0;
  padding-right: 20vw;
  font-size: 1.5em;
  line-height: 3rem;
}
h3 {
  font-size: 1em;
  text-indent: 1em;
  line-height: 1.5em;
  margin-block-end: 0;
  margin-block-start: 0;
}
p {
  text-indent: 1em;
  line-height: 1.5em;
  font-size: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
}
nav {
  background: #fbfbfb;
  text-indent: 1.5em;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  display: block;
  min-height: 20px;
  margin-right: 0;
  margin-left: 0.5em;
  margin-top: -1.5em;
  margin-bottom: -1.5em;
  position: relative;
  color: #999;
}
.description {
  color: #999;
  text-align: left;
}
.author {
  color: #999;
  text-align: left;
}
.image {
  color: #999;
  text-align: left;
}
.image-desc {
  color: #555;
  text-align: left;
}
img {
  max-width: 100%;
  max-height: 200px;
  margin: 5px auto;
  border: 1px solid #ccc;
}
.info {
  margin-right: 0.5em;
  color: #999;
  font-style: normal;
}
hr {
  border: none;
  border-left: 1px solid #eaeaea;
  width: 0;
  margin: 0 0.5em;
  padding: 0;
  height: 55vh;
}
.separator {
  display: flex;
  align-items: center;
  text-align: left;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.recent-post {
  color: gray !important;
  font-style: normal;
}

.recent-post-date {
  color: darkgray !important;
}

